<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/exercises.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>ReLeaf</title>
</head>
<body style="background-color:#F2F2F2;">
  <div class="return-previous">
    <img src="https://cdn-icons-png.flaticon.com/512/271/271218.png" />
    <a href="./app">
      <h2>Back to main menu</h2>
    </a>
  </div>
  <h1 class="page-title">Exercises</h1>
  <h2 class="page-subtitle">Upcoming events to overcome</h2>
  <a href=""><h3 class="customize">Customize your experience</h3></a>
  <div class="container">
    <div class="row main-top">
      <div id="exercise-1" class="col-xs-12 col-sm-12 col-md-12 main-containers exercises">
        <a href="">
          <span class="hyperspan main-containers"></span>
        </a>
        <h1>Everyday Stresses</h1>
      </div>
    </div>
    <div class="row main-top">
      <div id="exercise-2" class="col-xs-12 col-sm-12 col-md-12 main-containers exercises">
        <a href="./interview">
          <span class="hyperspan main-containers"></span>
        </a>
        <h1>Interview</h1>
      </div>
    </div>
    <div class="row main-top">
      <div id="exercise-3" class="col-xs-12 col-sm-12 col-md-12 main-containers exercises">
        <a href="./social">
          <span class="hyperspan main-containers"></span>
        </a>
        <h1>Social media imposter syndrome</h1>
      </div>
    </div>
  </div>
  <img id="down-arrow" src="http://cdn.onlinewebfonts.com/svg/img_144754.png" />
  <a href="./"><img id="home-btn" src="https://cdn-icons.flaticon.com/png/512/1665/premium/1665727.png?token=exp=1645343480~hmac=7ef89a95447714852249ca3257589d77" /></a>
</body>
</html>
