<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/social.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>ReLeaf</title>
</head>
<body style="background-color:#F2F2F2;">
  <div class="return-previous">
    <img src="https://cdn-icons-png.flaticon.com/512/271/271218.png" />
    <a href="./exercises">
      <h2>Back to exercises</h2>
    </a>
  </div>
  <h1 class="page-title">Social Media</h1>
  <h2 class="page-subtitle">Less stress & more productivity</h2>
  <h3 class="page-data">You’ve spent 0 minutes on social media today.</h3>
  <ul class="page-data-list">
    <li>0% beauty</li>
    <li>0% fitness</li>
    <li>0% other</li>
  </ul>
  <!-- <img class="page-data-img" src="https://maaw.info/images/BlankGraph.gif" /> -->
  <div class="container">
    <div class="row main-mid">
      <div class="col-xs-4 col-sm-4 offset-0">
        <div id="main-relax" class="main-mid-container main-containers">
          <h3 class="main-titles">Time Limit</h3>
          <div class="main-content">
            <label class="checkbox">2 hour limit per day
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox">Max 30 minutes of scrolling
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 offset-0">
        <div id="main-cramming" class="main-mid-container main-containers">
          <h3 class="main-titles">Content to Avoid</h3>
          <div class="main-content">
            <label class="checkbox">Influencer Instagram posts
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox">Location-based Snapchat stories
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 offset-0">
        <div id="main-encourage" class="main-mid-container main-containers">
          <h3 class="main-titles">Social Media Goals</h3>
          <div class="main-content">
            <label class="checkbox">Watch more business TikToks
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="checkbox">Network on LinkedIn
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div id="quotes" class="col-xs-12 col-sm-12 col-md-12 main-containers quotes">
        <a href="./quotes">
          <span class="hyperspan main-containers"></span>
        </a>
        <h1>“Comparison is the thief of joy.” - Theodore Roosevelt</h1>
      </div>
    </div>
  </div>
  <a href="./"><img id="home-btn" src="https://cdn-icons.flaticon.com/png/512/1665/premium/1665727.png?token=exp=1645343480~hmac=7ef89a95447714852249ca3257589d77" /></a>
</body>
</html>
